@{
    ViewBag.Title = "Upload";
}

<h2>Upload File</h2>
<div>
    @using (Html.BeginForm("Upload", "Photo", FormMethod.Post,
        new { @enctype = "multipart/form-data", id = "fileUploadForm", @class = "form form-horizontal" }))
    {
        @Html.AntiForgeryToken();
        <input type="file" name="file" id="file" multiple class="form-control"/>
        <input type="submit" value="Submit" class="btn btn-primary">
    }
</div>
