@model  IEnumerable<PhotoDealer.Web.ViewModels.CategoryDropDownViewModel>

@using (@Html.BeginForm("Index", "Category", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @*@Html.ValidationSummary(true)*@

    @Html.Partial("_CategoryGroupDropDown", Model)

    @*@Html.ValidationMessageFor(m => m.CategoryGroup)*@

    <div>
        <input type="submit" class="btn btn-primary" />
    </div>

}

@*@Image.Create("", "");*@
