@model IEnumerable<PhotoDealer.Web.ViewModels.Category.CategoryViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<ul>
    @foreach (var item in Model)
	{
        <li> @item.Name</li>
	}
</ul>

