@model string

<a href="@Url.Action("Details", "Picture", new {id = Model })">
    <img src="@Url.Action("GetSmallImage", "Picture", new { id = Model })"         
         alt="@string.Format("Picture-{0}", Model)" width="100%" class="pictures img-rounded"/>
</a>


